ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="{{ hotplug_id_vendor }}", ATTR{idProduct}=="{{ hotplug_id_product }}", RUN+="/usr/local/sbin/usb-libvirt-hotplug.sh {{ hotplug_target_vm }}"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="{{ hotplug_id_vendor }}", ATTR{idProduct}=="{{ hotplug_id_product }}", RUN+="/usr/local/sbin/usb-libvirt-hotplug.sh {{ hotplug_target_vm }}"
ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}=="{{ hotplug_env_product }}", ENV{DEVTYPE}=="usb_device", RUN+="/usr/local/sbin/usb-libvirt-hotplug.sh {{ hotplug_target_vm }}"