#!ipxe

echo Starting Microsoft Windows ${archl} auto-installer
kernel http://{{ pxe_server_ip }}/wimboot
initrd ${win-base-url}/bootmgr                     bootmgr
initrd ${win-base-url}/Boot/BCD                    BCD
initrd ${win-base-url}/Boot/Fonts/segmono_boot.ttf segmono_boot.ttf
initrd ${win-base-url}/Boot/Fonts/segoe_slboot.ttf segoe_slboot.ttf
initrd ${win-base-url}/Boot/Fonts/wgl4_boot.ttf    wgl4_boot.ttf
initrd ${win-base-url}/Boot/boot.sdi               boot.sdi
initrd ${win-base-url}/boot.wim                    boot.wim
boot