[sssd]
default_domain_suffix = {{ ad_domain | upper }}
use_fully_qualified_names=False
full_name_format = %1$s
domains = {{ ad_domain | upper }}
config_file_version = 2
services = nss, pam, ssh, sudo

[domain/{{ ad_domain }}]
default_shell = /bin/bash
krb5_store_password_if_offline = True
cache_credentials = True
krb5_realm = {{ ad_domain | upper }}
realmd_tags = manages-system joined-with-adcli
id_provider = ad
ad_domain = {{ ad_domain }}
ldap_id_mapping = False
fallback_homedir = /home/%u
default_shell = /bin/bash
access_provider = ad
ldap_user_extra_attrs = altSecurityIdentities
ldap_user_ssh_public_key = altSecurityIdentities
ad_gpo_access_control = disabled