# This configuration is managed by Ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

/nas/vms	10.4.20.250/32(rw,no_root_squash,no_subtree_check)
/nas/mariadb	10.4.20.33/32(rw,no_root_squash,no_subtree_check)
/nas/Software 10.4.20.0/24(ro,no_root_squash,no_subtree_check)
/nas2/nxc-data 10.4.20.8/32(rw,no_root_squash,no_subtree_check)
/nas/librenms 10.4.20.8/32(rw,no_root_squash,no_subtree_check)
/nas/portal 10.4.20.8/32(rw,no_root_squash,no_subtree_check)
/nas2/mailspools 10.4.20.25/32(rw,no_root_squash,no_subtree_check)
/nas/osboot 10.4.20.6/32(rw,no_root_squash,no_subtree_check)
/nas/osboot 10.4.20.0/24(ro,no_root_squash,no_subtree_check)
/nas/hwdev 10.4.20.0/24(rw,no_root_squash,no_subtree_check)
/nas2/depot 10.4.23.1/24(rw,no_root_squash,no_subtree_check)
/nas2/depot 10.4.20.212/24(rw,no_root_squash,no_subtree_check)