# This configuration is managed by Ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

/nas/Software 10.4.20.0/24(ro,no_root_squash,no_subtree_check)
/nas/osboot 10.4.20.0/24(ro,no_root_squash,no_subtree_check)
/nas/hwdev 10.4.20.0/24(rw,no_root_squash,no_subtree_check)
/nas/hw_cat_nethome 10.4.20.0/24(rw,no_root_squash,no_subtree_check)
/nas/k3s_prod_pvs 10.4.20.0/24(rw,no_root_squash,no_subtree_check)
/nas/k3s_prod_pvs 10.4.24.1/30(rw,no_root_squash,no_subtree_check)
/nas/k3s_prod_pvs/unifi 10.4.20.79/32(rw,no_root_squash,no_subtree_check)
/nas/media 10.4.20.0/24(rw,no_root_squash,no_subtree_check)
/nas/media 10.4.24.1/30(rw,no_root_squash,no_subtree_check)
/fastnas/k3s_prod_pvs 10.4.20.79/32(rw,no_root_squash,no_subtree_check)
/fastnas/k3s_prod_pvs 10.4.24.1/30(rw,no_root_squash,no_subtree_check)
/nas/ansible 10.4.20.3/32(rw,no_root_squash,no_subtree_check)