# This configuration is managed by ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

[global]
server min protocol = CORE
workgroup = WORKGROUP
netbios name = SMB1NAS
pid directory = /run/samba-smb1
map to guest = Bad User
log file = /var/log/samba/smb1-%m
log level = 1
server role = standalone server
bind interfaces only = yes
printing = CUPS
interfaces = enp9s0
load printers = no

lanman auth = yes
client lanman auth = yes
ntlm auth = yes
client ntlm auth = yes
unix extensions = no
allow insecure wide links = yes
server string = Lil NAS X Legacy

[Swsh]
path = /nas/Software
read only = yes
guest ok = yes
guest only = yes
create mode = 0755
directory mode = 0755
follow symlinks = yes
wide links = yes
comment=Software

[Scratch]
path = /nas/scratch
read only = no
guest ok = yes
guest only = yes
create mode = 0755
directory mode = 0755
comment=Scratch
force user = nobody
force group = nogroup

[LJM401]
path = /var/tmp/
printable = yes
printer name = LJ_M401n
guest ok = yes