[global]
        server role = standalone server
        max log size = 1000
        syslog only = yes
        syslog = 0
        map to guest = bad user
        load printers = no

[ISO]
    comment = Server
    browseable = Yes
    path = /srv
    guest ok = yes
    read only = yes
