<?php
// This configuration is managed by Ansible (Site: LBC)
// Last Update: {{ ansible_date_time.iso8601 }}
// Do not make any manual edits they will be lost.

$CONFIG = array (
  'passwordsalt' => '{{ vault_nextcloud_pw_salt }}',
  'secret' => '{{ vault_nextcloud_secret }}',
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => 'kittytel.net',
    2 => '{{ vault_private_domain }}',
    3 => '{{ vault_svc_server_ip }}',
  ),
  'datadirectory' => '/nxc-data',
  'overwrite.cli.url' => 'https://kittytel.net/nxc',
  'dbtype' => 'mysql',
  'htaccess.RewriteBase' => '/nxc',
  'version' => '{{ nextcloud_version }}',
  'dbname' => 'nextcloud',
  'dbhost' => 'db-lgb.ad.kittytel.net',
  'dbport' => '3306',
  'dbtableprefix' => 'oc_',
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
    'host' => '127.0.0.1',
    'port' => 6379,
  ),
  'mysql.utf8mb4' => true,
  'default_phone_region' => 'US',
  'dbuser' => '{{ nextcloud_db_user }}',
  'dbpassword' => '{{ vault_nextcloud_db_pass }}',
  'installed' => true,
  'instanceid' => '{{ vault_nextcloud_instanceid }}',
  'config_is_read_only' => true,
  'maintenance' => true,
  'ldapIgnoreNamingRules' => false,
  'ldapProviderFactory' => '\\OCA\\User_LDAP\\LDAPProviderFactory',
  'mail_smtpmode' => 'smtp',
  'mail_from_address' => 'nxc',
  'mail_domain' => 'kittytel.net',
  'mail_smtphost' => 'mx-lgb.ad.kittytel.net',
  'mail_smtpport' => '25',
  'theme' => '',
  'loglevel' => 0,
  'mail_sendmailmode' => 'smtp',
  'encryption.legacy_format_support' => false,
  'encryption.key_storage_migrated' => false,
  'updater.release.channel' => 'stable',
  'app_install_overwrite' =>
  array (
    0 => 'files_readmemd',
  ),
);