# This configuration is managed by Ansible (Site: LBC)
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.
# Using this cron file requires an additional user on your system, please see install docs.

33   */6  * * *   librenms    /var/www/librenms/cronic /var/www/librenms/discovery-wrapper.py 1
*/5  *    * * *   librenms    /var/www/librenms/discovery.php -h new >> /dev/null 2>&1
*/5  *    * * *   librenms    /var/www/librenms/cronic /var/www/librenms/poller-wrapper.py 16
*    *    * * *   librenms    /var/www/librenms/alerts.php >> /dev/null 2>&1
*/5  *    * * *   librenms    /var/www/librenms/poll-billing.php >> /dev/null 2>&1
01   *    * * *   librenms    /var/www/librenms/billing-calculate.php >> /dev/null 2>&1
*/5  *    * * *   librenms    /var/www/librenms/check-services.php >> /dev/null 2>&1
*    *    * * *   librenms    cd /var/www/librenms/ && php artisan schedule:run >> /dev/null 2>&1

# Daily maintenance script. DO NOT DISABLE!
# If you want to modify updates:
#  Switch to monthly stable release: https://docs.librenms.org/General/Releases/
#  Disable updates: https://docs.librenms.org/General/Updating/
19   0    * * *   librenms    /var/www/librenms/daily.sh >> /dev/null 2>&1

