# This configuration is managed by Ansible (Site: LBC)
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

APP_KEY=base64:{{ vault_librenms_app_key }}

DB_HOST={{ vault_db_ip }}
DB_DATABASE={{ librenms_db_name }}
DB_USERNAME={{ librenms_db_user }}
DB_PASSWORD={{ vault_librenms_db_pass }}

NODE_ID={{ vault_librenms_node_id }}
LIBRENMS_USER={{ librenms_unix_user }}