# This configuration is managed by Ansible (Site: LBC)
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

server {
    listen      443 ssl;
    server_name monitor.kittytel.net;
    root        /var/www/librenms/html;
    index       index.php;


	ssl_certificate {{ letsencrypt_certs_dir }}/fullchain_kittytel.net.crt;
	ssl_certificate_key {{ letsencrypt_keys_dir }}/kittytel.net.key;
	#ssl_dhparam /etc/ssl/dhparam.pem;
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate {{ letsencrypt_certs_dir }}/fullchain_kittytel.net.crt;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	client_max_body_size 5M;
	add_header X-Robots-Tag none;
	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Download-Options noopen;
	add_header X-Permitted-Cross-Domain-Policies none;
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
	add_header Referrer-Policy "no-referrer";

    charset utf-8;
    gzip on;
    gzip_types text/css application/javascript text/javascript application/x-javascript image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon;
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    location ~ [^/]\.php(/|$) {
        fastcgi_pass unix:/run/php/librenms.sock;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include fastcgi.conf;
    }
    location ~ /\.(?!well-known).* {
        deny all;
    }
}