# This configuration is managed by Ansible (Site: LBC)
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

server {
	listen 443 ssl;
	root {{ nginx_root }};
	server_name {{ domain_name }} www.{{ domain_name }};

	ssl_certificate {{ letsencrypt_certs_dir }}/fullchain_{{ domain_name}}.crt;
	ssl_certificate_key {{ letsencrypt_keys_dir }}/{{ domain_name }}.key;
	#ssl_dhparam /etc/ssl/dhparam.pem;
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate {{ letsencrypt_certs_dir }}/fullchain_{{ domain_name}}.crt;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	client_max_body_size 5M;
	add_header X-Robots-Tag none;
	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Download-Options noopen;
	add_header X-Permitted-Cross-Domain-Policies none;
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
	add_header Referrer-Policy "no-referrer";
	
	index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

	location ~ /\.ht {
		deny all;
	}
}

server {
	listen 80;
	root {{ nginx_root }};
	server_name {{ nginx_server_name }};
}

server {
    listen 80;
    server_name {{ nginx_server_name }};
    return 301 https://$host$request_uri;
}