# This configuration is managed by Ansible (Site: LBC)
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

server {
    listen      443 ssl;
    server_name lbc.kittytel.net;
    root        /var/www/portal/public;
    index       index.php;


	ssl_certificate {{ letsencrypt_certs_dir }}/fullchain_lbc.kittytel.net.crt;
	ssl_certificate_key {{ letsencrypt_keys_dir }}/lbc.kittytel.net.key;
	#ssl_dhparam /etc/ssl/dhparam.pem;
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate {{ letsencrypt_certs_dir }}/fullchain_lbc.kittytel.net.crt;
	add_header X-Content-Type-Options nosniff;
	add_header X-XSS-Protection "1; mode=block";
	client_max_body_size 5M;
	add_header X-Robots-Tag none;
	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Download-Options noopen;
	add_header X-Permitted-Cross-Domain-Policies none;
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
	add_header Referrer-Policy "no-referrer";

    charset utf-8;
    gzip on;
    gzip_types text/css application/javascript text/javascript application/x-javascript image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon;

    location /media {
        proxy_pass http://nas-lgb.ad.kittytel.net:8096;
    }

    location /glpi {
        root /var/www/glpi/public;
        try_files $uri /glpi/index.php$is_args$args;
        location ~ [^/glpi/]\.php(/|$) {
            fastcgi_pass unix:/run/php/glpi.sock;
            #fastcgi_split_path_info ^(.+\.php)(/.+)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $fastcgi_path_info;
            fastcgi_param HTTPS on;
            fastcgi_param modHeadersAvailable true;
            fastcgi_param front_controller_active true;
            fastcgi_intercept_errors on;
            fastcgi_request_buffering off;
        }
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_pass unix:/run/php/portal.sock;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include fastcgi.conf;
    }
    location ~ /\.(?!well-known).* {
        deny all;
    }
}