# This configuration is managed by Ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

server.modules += ( "mod_openssl" )
$SERVER["socket"] == ":443" {
    ssl.engine  = "enable"
    ssl.pemfile = "/etc/letsencrypt/certs/fullchain_kittytel.net.crt"
    ssl.privkey = "/etc/letsencrypt/keys/kittytel.net.key"
    ssl.openssl.ssl-conf-cmd = ("MinProtocol" => "TLSv1.3", "Options" => "-ServerPreference")
}

$HTTP["host"] == "{{ inventory_hostname }}" {
    setenv.add-environment = ("fqdn" => "true")

    # Allow the admin page for the correct fqdn
    $HTTP["url"] !~ "^/admin/\.(.*)" {
        $HTTP["url"] !~ "(~|\.inc|\.md|\.yml|\.ini)$" {
        url.access-allow  = ("")
        setenv.add-response-header = (
            "X-Pi-hole" => "The Pi-hole Web interface is working!",
            "X-Frame-Options" => "DENY"
        )
        }
    }

    # Redirect HTTP to HTTPS
    $HTTP["scheme"] == "http" {
        $HTTP["host"] =~ ".*" {
            url.redirect = (".*" => "https://%0$0")
        }
    }
}
