# This configuration is managed by Ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

PIHOLE_INTERFACE={{ ansible_default_ipv4.interface }}
QUERY_LOGGING={{ pihole_query_logging }}
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE={{ pihole_cache_size }}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=single
WEBPASSWORD={{ vault_pihole_web_pw }}
BLOCKING_ENABLED=true
TEMPERATUREUNIT=F
DNSSEC={{ pihole_use_dnssec }}
REV_SERVER=false
PIHOLE_DNS_1=127.0.0.1#5353
WEBUIBOXEDLAYOUT=boxed
WEBTHEME={{ pihole_webtheme }}
PIHOLE_DNS_2=