# This configuration is managed by Ansible
# Last Update: {{ ansible_date_time.iso8601 }}
# Do not make any manual edits they will be lost.

{% for share in nfs_shares %}
{{ share.path }} {{ share.cidr }}({{ share.opts }})
{% endfor %}