# This configuration is managed by ansible
# Do not make any manual edits they will be lost.

smtpd_banner = {{ server_mta_banner }}
myhostname = {{ vm_name }}.kittytel.net
mydestination = {{ vault_mail_domains | join(' ') }}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 10.99.96.0/20
line_length_limit = 4096
biff = no
myorigin = kittytel.net
append_dot_mydomain = no
readme_directory = no
compatibility_level = 2
milter_protocol = 6
smtpd_tls_cert_file={{ letsencrypt_certs_dir }}/kittytel.net.crt
smtpd_tls_key_file={{ letsencrypt_keys_dir }}/kittytel.net.key
smtpd_use_tls=yes
smtp_tls_security_level = may
smtp_use_tls=yes

smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_recipient_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination, check_policy_service unix:private/policyd-spf
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mailbox_size_limit = 0
recipient_delimiter = +
inet_protocols = all

smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
virtual_alias_maps = hash:/etc/postfix/virtual

milter_default_action = accept
smtpd_milters = local:/opendkim/opendkim.sock, local:/opendmarc/opendmarc.sock
non_smtpd_milters = local:/opendkim/opendkim.sock
policyd-spf_time_limit = 3600
spamassassin_destination_recipient_limit = 1
mailbox_command = /usr/lib/dovecot/deliver
