PidFile /var/run/opendmarc/opendmarc.pid
RejectFailures false

Socket                  local:/var/spool/postfix/opendmarc/opendmarc.sock
Syslog true
SyslogFacility mail
UMask 002
UserID opendmarc
PublicSuffixList /usr/share/publicsuffix/