Syslog			yes
UMask			002
SignatureAlgorithm      rsa-sha256
Mode			sv
SubDomains		no
Socket			local:/var/spool/postfix/opendkim/opendkim.sock
Canonicalization    relaxed/simple
AutoRestartRate     10/1M
Background      yes
DNSTimeout      5
PidFile               /var/run/opendkim/opendkim.pid
OversignHeaders		From
TrustAnchorFile       /usr/share/dns/root.key
UserID                opendkim
KeyTable        /etc/opendkim/key.table
SigningTable        refile:/etc/opendkim/signing.table
ExternalIgnoreList  /etc/opendkim/trusted.hosts
InternalHosts       /etc/opendkim/trusted.hosts