#!/usr/bin/env bash
# This script is managed by ansible
# Do not make any manual edits they will be lost.

PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
SERVER=$HOSTNAME
VIRUS_ADMIN="noreply@kittytel.net"

is_substring(){
    case "$2" in
        *$1*) return 0;;
        *) return 1;;
    esac
}

#### Should sanitize the input strings ####
VIRUS=$1         # Name of the detected virus (Obviously)
FILE=$2          # FILE/ID of the message (on the server)
SENDER=$3        # SENDER's e-mail
RECIPIENT=$4     # RECIPIENT's e-mail (Only the first one will be passed)
SUBJECT=$5       # The subject of the message
MSGID=$6         # MESSAGE-ID Of the given message (From Message-ID Header)
DATE=$7          # MSG RECV DATE TIME

V_SUBJECT="[VIRUS] **INFECTED** $SUBJECT"

if is_substring "kittytel.net" $RECIPIENT
then
	cat -v << EOF | /usr/sbin/sendmail -t -i
From: Kitty Telecom E-Mail <$VIRUS_ADMIN>
To: $RECIPIENT
Subject: $V_SUBJECT
X-Virus-Status: Infected ($VIRUS)

The following message addressed to you, scanned positive for undesirable malware.
For your protection, the message was not delivered, but this notice instead.

Signature :  $VIRUS
Date      :  $DATE
Subject   :  $SUBJECT
Sender    :  $SENDER

This message is quarantined.  If this was done in error, please contact your
Kitty Telecom Systems Administrator for further assistance.

EOF
fi