#!ipxe

echo Starting Microsoft Windows ${archl} auto-installer
kernel http://{{ pxe_server_ip }}/winpeboot/AMD64/wimboot
initrd ${win-base-url}/AMD64/bootmgr                     bootmgr
initrd ${win-base-url}/AMD64/Boot/BCD                    BCD
initrd ${win-base-url}/AMD64/Boot/Fonts/segmono_boot.ttf segmono_boot.ttf
initrd ${win-base-url}/AMD64/Boot/Fonts/segoe_slboot.ttf segoe_slboot.ttf
initrd ${win-base-url}/AMD64/Boot/Fonts/wgl4_boot.ttf    wgl4_boot.ttf
initrd ${win-base-url}/AMD64/Boot/boot.sdi               boot.sdi
initrd ${win-base-url}/AMD64/boot.wim                    boot.wim
boot