---
- name: Install dependencies for building iPXE
  package: 
    name: 
      - build-essential
      - mtools
      - binutils
      - gcc-aarch64-linux-gnu
      - binutils-aarch64-linux-gnu
      - git
      - gnu-efi
      - liblzma-dev
    state: present

- name: "Retrieve wimboot (AMD64)"
  get_url: 
    url: https://github.com/ipxe/wimboot/releases/latest/download/wimboot
    dest: /srv/winpeboot/AMD64/wimboot

- name: "Retrieve wimboot (ARM64)"
  get_url:
    url: https://github.com/ipxe/wimboot/releases/latest/download/wimboot.arm64
    dest: /srv/winpeboot/ARM64/wimboot

- name: check out iPXE source
  git: 
    repo: 'https://github.com/ipxe/ipxe.git'
    dest: /usr/src/ipxe/
#    version: "{{ ipxe_version }}"
    force: true

- name: Install embed.ipxe
  template:
    src: ipxe/embed.ipxe.j2
    dest: /tmp/embed.ipxe
    owner: root
    group: root
    mode: 0644

- name: "Check if we have existing UDNI IPXE"
  stat:
    path: "/srv/tftp/bin/undionly.kpxe"
  register: undi_exists
- name: "Compile and load UNDI iPXE"
  block:
  - name: compile ipxe UNDI
    become: yes
    shell: make bin/undionly.kpxe EMBED=/tmp/embed.ipxe
    args:
      chdir: "/usr/src/ipxe/src/"
  - name: copy our built ipxe UNDI
    become: yes
    copy:
      src: /usr/src/ipxe/src/bin/undionly.kpxe
      dest: /srv/tftp/bin/undionly.kpxe
      remote_src: true
  when: "not undi_exists.stat.exists"

- name: "Check if we have existing AMD64 UEFI IPXE"
  stat:
    path: "/srv/tftp/bin/ipxex64.efi"
  register: amd64_ipxe_exists
- name: "Compile and load AMD64 EFI iPXE"
  block:
  - name: compile ipxe EFI
    become: yes
    shell: make bin-x86_64-efi/ipxe.efi EMBED=/tmp/embed.ipxe
    args:
      chdir: "/usr/src/ipxe/src/"
  - name: copy our built ipxe EFI
    become: yes
    copy:
      src: /usr/src/ipxe/src/bin-x86_64-efi/ipxe.efi
      dest: /srv/tftp/bin/ipxex64.efi
      remote_src: true
  when: "not amd64_ipxe_exists.stat.exists and ipxe_use_signed_efi_amd64 == false"

- name: "Check if we have existing ARM64 UEFI IPXE"
  stat:
    path: "/srv/tftp/bin/ipxeaa64.efi"
  register: arm64_ipxe_exists
- name: "Compile and load ARM64 EFI iPXE"
  block:
  - name: compile ipxe EFI
    become: yes
    shell: make CROSS_COMPILE=aarch64-linux-gnu- ARCH=arm64 bin-arm64-efi/ipxe.efi EMBED=/tmp/embed.ipxe
    args:
      chdir: "/usr/src/ipxe/src/"
  - name: copy our built ipxe EFI
    become: yes
    copy:
      src: /usr/src/ipxe/src/bin-arm64-efi/ipxe.efi
      dest: /srv/tftp/bin/ipxeaa64.efi
      remote_src: true
  when: "not arm64_ipxe_exists.stat.exists"

- name: Install boot.ipxe
  template:
    src: ipxe/boot.ipxe.j2
    dest: /srv/tftp/ipxe/boot.ipxe
    owner: root
    group: root
    mode: 0644

- name: Install boot.ipxe.cfg
  template:
    src: ipxe/boot.ipxe.cfg.j2
    dest: /srv/tftp/ipxe/boot.ipxe.cfg
    owner: root
    group: root
    mode: 0644

- name: Install menu.ipxe
  template:
    src: ipxe/ipxe.menu.j2
    dest: /srv/tftp/ipxe/menu.ipxe
    owner: root
    group: root
    mode: 0644
