# general VM stats
system_os: debian
system_os_version: bookworm
vm_vcpus: 2
vm_memory_mb: 1024
vm_volumes:
-  capacity: 35000M

# NFS setup
nfs_shares:
  - path: /nas/Library
    cidr: 10.4.20.0/24
    opts: "ro,no_root_squash,no_subtree_check"
  - path: /nas/osboot
    cidr: 10.4.20.0/24
    opts: "ro,no_root_squash,no_subtree_check"
  - path: /nas/hwdev
    cidr: 10.4.20.0/24
    opts: "rw,no_root_squash,no_subtree_check"
  - path: /nas/hw_cat_nethome
    cidr: 10.4.20.0/24
    opts: "rw,no_root_squash,no_subtree_check"
  - path: /nas/k3s_prod_pvs
    cidr: 10.4.24.1/30
    opts: "rw,no_root_squash,no_subtree_check"
  - path: /nas/Library/media
    cidr: 10.4.24.1/30
    opts: "rw,no_root_squash,no_subtree_check"
  - path: /fastnas/k3s_prod_pvs
    cidr: 10.4.24.1/30
    opts: "rw,no_root_squash,no_subtree_check"
  - path: /nas/ansible
    cidr: 10.4.20.3/32
    opts: "rw,no_root_squash,no_subtree_check"

# SMB setup
smb_domain_member: true
smb_enable_time_machine: true
smb_allow_wide_links: true
smb_bind_interfaces_only: true
smb_bound_interface: enp3s0
smb_server_string: "Lil NAS X"
smb_netbios: "{{ vault_ad_netbios }}"
smb_domain_name: "{{ vault_krb5_realm }}"
smb1_netbios_name: LILNASX
smb1_server_string: "Lil NAS X"
smb1_bound_interface: enp9s0

smb_shares:
  - name: cat
    comment: cats data
    path: /nas/cat_data
    public: yes
    guest_ok: no
    create_mask: 660
    directory_mask: 770
    browseable: yes
    read_only: no
    valid_users: '"@domain admins"'
    write_list: '"@domain admins"'
    writeable: yes
    create_mode: "0644"
    directory_mode: "0755"
  - name: ansible
    comment: ansible playbooks
    path: /nas/ansible
    public: yes
    guest_ok: no
    create_mask: 660
    directory_mask: 770
    browseable: yes
    read_only: no
    valid_users: '"@domain admins"'
    write_list: '"@domain admins"'
    writeable: yes
    create_mode: "0644"
    directory_mode: "0755"
  - name: Time Machine
    vfs_objects: "fruit_streams_xattr"
    fruit:time_machine: yes
    fruit:time_machine_max_size: 1050G
    comment: "Time Machine Backups"
    path: /nas/tm
    public: yes
    writable: yes
    guest_ok: no
    create_mask: 660
    directory_mask: 770
    browseable: Yes
    read_only: no
    valid_users: '"@domain admins"'
    write_list: '"@domain admins"'
    writeable: yes
    create_mode: "0644"
    directory_mode: "0755"
  - name: Library
    comment: Library
    path: /nas/Library
    public: yes
    writeable: yes
    guest_ok: yes
    create_mask: 660
    directory_mask: 770
    browseable: yes
    read_only: no
    write_list: '"@domain admins"'
    create_mode: "0755"
    directory_mode: "0755"
    wide_links: yes
    follow_symlinks: yes
  - name: ISO
    comment: PXE ISO Store
    browseable: yes
    path: /srv
    guest_ok: yes
    read_only: yes

smb1_shares:
  - name: Library
    comment: Library
    path: /nas/Library
    public: yes
    writeable: no
    guest_ok: yes
    browseable: yes
    read_only: yes

# AFP Setup
afp_listen_interface: enp9s0
afp_shares:
  - name: TimeMachine
    path: /nas/tmafp
    volume_name: TimeMachine
    valid_users: "@timemachine"
    time_machine: yes

# Deployments for server-pxe
pxe_distro:
  - alpine
  - debian
  - fedora
  - gparted
  - rocky
  - opensuse
  - ubuntu
  - windows

win_deploy_versions:
  server2025:
    amd64:
      iso: "X23-81958_26100.1742.240906-0331.ge_release_svc_refresh_SERVER_OEMRET_x64FRE_en-us.iso"
      display: "Windows Server 2025"
  server2022:
    amd64:
      iso: "en_windows_server_2022x64_dvd_.iso"
      display: "Windows Server 2022"
  win11ltsc2024:
    amd64:
      iso: "26100.1.240331-1435.ge_release_CLIENT_ENTERPRISES_OEM_x64FRE_en-us.iso"
      display: "Windows 11 Enterprise IoT LTSC 2024"
    arm64:
      iso: "26100.1.240331-1435.ge_release_CLIENT_ENTERPRISES_OEM_A64FRE_en-us.iso"
      display: "Windows 11 Enterprise IoT LTSC 2024"
  win10ltsc2021:
    amd64:
      iso: "en-us_windows_10_enterprise_ltsc_2021_x64_dvd_d289cf96.iso"
      display: "Windows 10 Enterprise LTSC 2021"
    arm64:
      iso: "en-us_windows_10_iot_enterprise_ltsc_2021_arm64_dvd_e8d4fc46.iso"
      display: "Windows 10 IoT Enterprise LTSC 2021"
  win10ltsc2019:
    amd64:
      iso: "en_windows_10_enterprise_ltsc_2019_x64_dvd_74865958.iso"
      display: "Windows 10 Enterprise LTSC 2019"
  win7:
    amd64:
      iso: "en_windows_7_enterprise_with_sp1_x64_dvd_u_677651.iso"
      display: "Windows 7 Enterprise"
    i386:
      iso: "en_windows_7_enterprise_with_sp1_x86_dvd_u_677710.iso"
      display: "Windows 7 Enterprise"
    